@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url('../fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container,
.container-lg {
    margin-top: 20px;
}

.header {
    display: flex;
    padding: 20px;
}

.container .header {
    padding: 20px 0;
}

.feeds-header span {
    margin: 0 0 0 25px;
}

.feeds {
    display: flex;
    flex-wrap: wrap;
}

.feeds .card {
    width: 30%;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0);
    margin: 20px;
}

.card-text {
    line-height: 25px;
}

.card-img {
    height: 270px;
    background: #e0e0e0;
    background-size: 100%;
    background-position: center center;
}
