<nav class="navbar navbar-expand-lg" style="background-color: #0e0c28; padding: 10px 1rem;">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/feeds">Manage your Feeds</a>
      </li>
    </ul>
  </div>
</nav>
